.contactus-container {
  @apply
  lg:flex;
}

.title-container,
.form-container {
  @apply
  flex
  items-center
  justify-center
  lg:w-3/6;
}

.title-container {
  @apply
  bg-text-blackText
  text-text-whiteText;
}

.text-title-container {
  @apply
  col-start-2
  col-end-7;
  max-width: 482px;
}

.title {
  @apply
  mb-6
  font-bold
  text-semiMdm
  text-center;
}

.subtitle {
  @apply
  text-center
  font-semibold
  md:text-semiBld
}

.form-container {
  @apply
  flex-col
}

.form-title {
  @apply
  mt-32
  mb-6
  font-bold
  text-semiBld;
  max-width: 416px;
}

.form {
  @apply
  mb-32
  col-start-2
  col-end-6
  flex
  flex-col;
}

.form-label {
  @apply
  font-normal
  text-rglr;
  color: #767676;
}

.form-input {
  @apply
  p-2
  mb-6
  rounded;
  border: solid 1px #767676;
}

.form-button {
  @apply
  rounded
  px-2
  py-2
  text-text-whiteText
  bg-primary-blue
}

@media screen and (min-width: 768px) {
  .title-container,
  .form-container {
    height: 682px;
  }

  .title {
    font-size: 2.875rem;
  }

  .form-title {
    font-size: 46px;
  }
}