.aboutus-container {
  @apply
  p-0
  text-text-whiteText
  bg-primary-blue;
  height: 1024px;
}

.container {
  @apply
  grid
  h-full
  grid-cols-6
  grid-rows-4
  justify-items-stretch;
}

.container-item-one,
.container-item-two,
.container-item-three,
.container-item-four,
.container-item-five,
.container-item-six,
.container-item-seven {
  @apply
  hidden
  lg:block
}

.container-item-one {
  @apply
  row-start-1
}

.pui {
  @apply
  h-full
  w-full
}

.container-item-two {
  @apply
  row-start-2
}

.container-item-three {
  @apply
  row-start-3
}

.container-item-four {
  @apply
  row-start-4
}

.container-item-five {
  @apply
  col-start-5
  row-start-4
}

.container-item-six {
  @apply
  col-start-6
  row-start-4
}

.container-item-seven {
  @apply
  col-start-6
  row-start-3
}

.aboutus-text-container {
  @apply
  w-full
  py-36
  items-center
  justify-center
  col-start-2
  col-end-6
  row-start-1
  row-end-5;
}

.aboutus-title {
  @apply
  mb-11
  mx-auto
  text-semiBld
  font-bold;
  max-width: 689px;
}

.aboutus-description {
  @apply
  mx-auto
  h-full
  text-semiMdm
  font-medium
  md:text-mdm;
  max-width: 689px;
}

@media screen and (min-width: 1024px) {
  .aboutus-title {
    font-size: 46px;
  }
}