.container {
  @apply
  grid-cols-4
  bg-primary-blue
}

.big-screen-contanier {
  @apply
  mx-2
  px-8
  py-8
  xl:mx-auto
  text-text-whiteText;
  height: 86px;
  max-width: 1440px;
}

.ciudades-gray-container {
  @apply
  flex
  justify-center
  md:justify-end;
}