.container {
  @apply
  mx-2
  mb-8
  md:px-9
  grid
  gap-4
  h-full
  grid-cols-4
  items-center
  md:grid-cols-8
  lg:grid-cols-12
  xl:mx-auto;
  max-width: 1440px;
}

.industries-image-container {
  @apply
  hidden
  w-[450px]
  lg:flex
  justify-end
  lg:col-start-2
  lg:col-end-4
}

.industries-img {
  @apply
  object-cover
}

.industries-text-container {
  @apply
  col-span-full
  lg:col-start-8
  lg:col-end-12
}

.industries-text-title {
  @apply
  mb-8
  relative
  font-semibold
  md:mb-16
  z-10
  md:text-semiBld;
  width: fit-content;
}

.industries-text-title::after {
  z-index: 0;
  left: 1px;
  bottom: 2px;
  width: 100%;
  content: '';
  height: 15px;
  position: absolute;
  background-color: #0081E2;
}

.industries-text-description {
  @apply
  font-medium
  md:text-mdm
}