.hero {
  @apply
  bg-main
  w-full
  h-screen;
  background-image: radial-gradient(
    #d8dad5 2px,
    transparent 2px
  );
  background-size: 1.875rem 1.875rem; 
}

.hero-wrapper {
  @apply
  flex
  h-full
  flex-col
  justify-center
  items-center
  xl:grid
  xl:gap-x-14
  xl:grid-cols-2
  xl:mx-10
  xl:mx-16;
}

.hero-logo-container {
  @apply
  flex
  justify-center
  md:justify-end;
}

.hero-logo-wrapper {
  @apply
  flex
  bg-main
  justify-center;
  clip-path: polygon(73% 18%, 73% 44%, 94% 44%, 94% 54%, 73% 54%, 73% 84%, 43% 84%, 7% 84%, 7% 18%, 40% 18%);
}

.hero-logo {
  @apply
  h-60vmin
  w-60vmin;
}

.hero-title {
  @apply
  text-3xl
  font-light
  xl:mt-2
  xl:ml-5
  text-font-color;
}
