.services-section-title {
  text-align: center;
  font-size: 46px;
  line-height: 55px;
  margin-top: 4.5rem;
  @media (max-width: 767px) {
    font-size: 35px;
    margin-top: 10px;
  }
}

.services-container {
  @apply
  px-0
  py-8;
  &:nth-child(even) {
    .services-img-container {
      order: 2;
    }
    .services-text-container {
      order: 1;
    }
  }
}

.container {
  @apply
  mx-2
  px-9
  grid
  gap-4
  h-full
  grid-cols-4
  items-center
  md:grid-cols-8
  lg:gap-6
  lg:grid-cols-12
  xl:mx-auto;
  max-width: 1440px;
  display: flex;
}

.services-img-container {
  @apply
  hidden
  lg:block
  lg:col-start-1
  lg:col-end-5;
  order: 1;
  flex: 5;
}

.services-text-container {
  @apply
  py-8
  w-full
  col-span-full
  lg:py-8
  lg:w-full
  lg:col-start-6
  lg:col-end-12;
  order: 2;
  flex: 7;
}

.services-title {
  font-weight: 500;
  font-size: 2.5rem;
  @apply text-primary-blue;
}

.services-subtitle {
  font-weight: 100;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 15px;
  @apply
  text-text-blackText
  md:text-mdm
}

.services-items {
  line-height: 2rem;
  max-width: 600px;
  font-size: 24px;
  @apply
  pl-7
}

.service-item {
  @apply
  list-disc
}
