.services-container {
  @apply
  px-0
  py-8;
  &:nth-child(even) {
    .services-img-container {
      order: 2;
    }
    .services-text-container {
      order: 1;
    }
  }
}

.container {
  @apply
  mx-2
  px-9
  grid
  gap-4
  h-full
  grid-cols-4
  items-center
  md:grid-cols-8
  lg:gap-6
  lg:grid-cols-12
  xl:mx-auto;
  max-width: 1440px;
  display: flex;
}

.services-img-container {
  @apply
  hidden
  lg:block
  lg:col-start-1
  lg:col-end-5;
  order: 1;
  flex: 5;
}

.services-text-container {
  @apply
  py-8
  w-full
  col-span-full
  lg:py-8
  lg:w-full
  lg:col-start-6
  lg:col-end-12;
  order: 2;
  flex: 7;
}

.services-title {
  @apply
  text-mdm
  font-bold
  text-primary-blue
  md:text-semiBld
  lg:text-bld
  lg:font-bold
}

.services-subtitle {
  @apply
  font-semibold
  text-text-blackText
  md:text-mdm
  lg:text-semiBld
}

.services-items {
  @apply
  pl-7
  lg:font-medium
  lg:text-semiMdm;
  max-width: 600px;
}

.service-item {
  @apply
  list-disc
}