.services {
  @apply
  my-3
  px-8
  py-32
  relative
  text-font-main-color;
  background-image: radial-gradient(
    #d8dad5 2px,
    transparent 2px
  );
  background-size: 1.875rem 1.875rem;
  height: 800px;
}

.big-screen-wrapper {
  @apply
  mx-2
  xl:mx-auto
  w-full;
  max-width: 1440px;
}

.services-wrapper {
  @apply
  grid
  gap-y-14
  md:px-8
  justify-center;
  @media screen and (min-width: 1280px) {
    grid-template-columns: 750px 1fr;
    max-width: 100%;
  }
}

.services-title {
  @apply
  py-6
  text-3xl
  lg:text-4xl
}

.services-title-span {
  @apply
  bg-white;
}

.services-text-wrapper {
  @apply
  w-full
  2xl:flex;
  justify-content: end;
}

.services-text {
  white-space: pre-wrap;
  @apply
  py-6
  sm:pr-0
  sm:pl-7
  xl:w-4/5
  bg-white
  text-xl
  lg:text-2xl
}

.services.lines:before {
  @apply
  hidden
  rounded
  absolute
  opacity-80
  bg-bg-line;
  content: "";
  top: 21.45rem;
  left: 15.8em;
  height: 7.75rem;
  width: 0.23rem;
}

.services.lines:after {
  @apply
  hidden
  rounded
  absolute
  opacity-80
  bg-bg-line;
  content: "";
  top: 15.83rem;
  left: 12.05rem;
  height: 0.24rem;
  width: 7.75rem;
}

.services-wrapper:before {
  @apply
  hidden
  rounded
  absolute
  opacity-80
  bg-bg-line;
  content: "";
  top: 38.3rem;
  left: 6.48rem;
  height: 0.24rem;
  width: 5.83rem;
}

.services-wrapper:after {
  @apply
  hidden
  rounded
  absolute
  opacity-80
  bg-bg-line;
  content: "";
  top: 32.7rem;
  left: 21.43rem;
  height: 0.24rem;
  width: 5.83rem;
}

.services-title-wrapper:before {
  @apply
  rounded
  absolute
  opacity-80
  bg-bg-line;
  content: "";
  top: 36.45rem;
  right: 6.05rem;
  height: 0.24rem;
  width: 5.83rem;
}

.services-title-wrapper:after {
  @apply
  rounded
  absolute
  opacity-80
  bg-bg-line;
  content: "";
  top: 38.33rem;
  right: 30.4rem;
  height: 7.75rem;
  width: 0.23rem;
}

@media screen and (min-width: 1280px) {
  .services.lines:before,
  .services.lines:after,
  .services-wrapper:before,
  .services-wrapper:after, {
    @apply
    block
  }
}

// @media screen and (min-width: 1280px) {
//   .services.lines:before,
//   .services.lines:after,
//   .services-wrapper:before {
//     @apply
//     block
//   }
// }