.services {
  @apply
  h-component-height
  relative
  text-font-main-color;
  background-image: radial-gradient(
    #d8dad5 2px,
    transparent 2px
  );
  background-size: 1.875rem 1.875rem;
}

.services-wrapper {
  @apply
  h-1/2
  p-8
  lg:grid
  lg:grid-cols-2
  xl:p-16;
}

.services-title {
  @apply
  mt-16
  ml-1
  xs:ml-4
  xs:text-3xl
  sm:text-center;
  max-width: 18rem;
}

.services-title-span {
  @apply
  pb-2
  bg-white;
}

.services-text-wrapper {
  @apply
  flex
  text-left
  justify-center
  items-center
  lg:justify-center
}

.services-text {
  @apply
  pt-5
  pl-0
  pb-5
  mt-12
  w-9/12
  text-base
  bg-white
  sm:text-xl
  md:ml-7
  lg:w-full
  lg:text-3xl
  lg:font-light
}

.patterns {
  @apply
  h-1/2
  relative
}

.patterns::before {
  content: '';
  height: 0.25rem;
  width: 4rem;
  top: 10.8rem;
  left: 10.2rem;
  @apply
  absolute
  opacity-75
  rounded-2xl
  bg-bg-line
}

.second-patterns::after {
  content: '';
  width: 0.25rem;
  height: 4rem;
  top: 14.6rem;
  left: 17.67rem;
  @apply
  absolute
  opacity-75
  rounded-2xl
  bg-bg-line
}

.second-patterns::before {
  content: '';
  height: 0.25rem;
  width: 4rem;
  top: 14.58rem;
  left: 2.68rem;
  @apply
  absolute
  opacity-75
  rounded-2xl
  bg-bg-line
}

@media screen and (min-width: 768px) {
  .patterns::before {
    left: 25.2rem;
  }
  
  .second-patterns::after {
    left: 40.2rem;
  }
  
  .second-patterns::before {
    left: 10.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .services-text-wrapper {
    @apply
    w-9/12
    justify-end
  }

  .services-text {
    @apply
    pl-5
  }

  .services::before {
    content: '';
    left: 12rem;
    top: 15.8rem;
    width: 7.8rem;
    @apply
    h-1
    absolute
    opacity-75
    rounded-2xl
    bg-bg-line
  }

  .patterns::after {
    content: '';
    bottom: 14.5rem;
    left: 17.7rem;
    height: 7.8rem;
    @apply
    w-1
    absolute
    opacity-75
    rounded-2xl
    bg-bg-line
  }
}

@media screen and (min-width: 1550px) {
  .services-title::before {
    top: 34.55rem;
  }
}
