.services {
  @apply
  h-screen
  relative
  text-font-main-color;
  background-image: radial-gradient(
    #d8dad5 2px,
    transparent 2px
  );
  background-size: 1.875rem 1.875rem;
}

.services-wrapper {
  @apply
  p-8
  grid
  lg:grid-cols-2
  xl:p-16;
}

.services-title {
  @apply
  mt-10
  text-3xl  
  bg-white;
  max-width: 15rem;
}

.services-text-wrapper {
  @apply
  flex
  text-left
  justify-end
  items-center
  lg:justify-center
}

.services-text {
  @apply
  mt-5
  pt-5
  pl-5
  pb-5
  bg-white
  text-xl
  w-9/12
  lg:w-full
  lg:text-3xl
  lg:font-light
}

@media screen and (min-width: 1024px) {
  .services::before {
    content: '';
    left: 12rem;
    top: 15.8rem;
    width: 7.8rem;
    @apply
    h-1
    absolute
    opacity-75
    rounded-2xl
    bg-bg-line
  }

  .services::after {
    content: '';
    top: 21.3rem;
    left: 17.7rem;
    height: 7.8rem;
    @apply
    w-1
    absolute
    opacity-75
    rounded-2xl
    bg-bg-line
  }

  .services-wrapper::before {
    content: '';
    height: 0.25rem;
    width: 4rem;
    top: 32.7rem;
    left: 25.2rem;
    @apply
    absolute
    opacity-75
    rounded-2xl
    bg-bg-line
  }

  .services-wrapper::after {
    content: '';
    width: 0.25rem;
    height: 4rem;
    top: 38.25rem;
    left: 40.2rem;
    @apply
    absolute
    opacity-75
    rounded-2xl
    bg-bg-line
  }

  .services-title-wrapper::before {
    content: '';
    height: 0.25rem;
    width: 4rem;
    top: 36.45rem;
    left: 10.2rem;
    @apply
    absolute
    opacity-75
    rounded-2xl
    bg-bg-line
  }
}

@media screen and (min-width: 1550px) {
  .services-title::before {
    content: '';
    height: 0.25rem;
    width: 4rem;
    top: 34.55rem;
    left: 90.8rem;
    @apply
    absolute
    opacity-75
    rounded-2xl
    bg-bg-line
  }
}
