.services {
  @apply
  w-full
  h-screen
  relative
  text-font-main-color;
  background-image: radial-gradient(
    #d8dad5 2px,
    transparent 2px
  );
  background-size: 1.875rem 1.875rem;
}

.services-wrapper {
  @apply
  p-8
  grid
  lg:grid-cols-2
  xl:p-16;
}

.services-title {
  @apply
  mt-10
  text-3xl;  
}

.services-text-wrapper {
  @apply
  flex
  p-10
  text-left
  justify-end
  items-center
  bg-white
  lg:justify-center
}

.services-text {
  @apply
  text-xl
  w-9/12
  lg:w-full
  lg:text-3xl
  lg:font-light
}

@media screen and (min-width: 1024px) {
  .services::before {
    content: '';
    opacity: 0.75;
    height: 0.25rem;
    width: 7.8rem;
    border-radius: 1rem;
    position: absolute;
    top: 15.8rem;
    left: 12rem;
    background-color: bisque;  
  }

  .services::after {
    content: '';
    opacity: 0.75;
    width: 0.25rem;
    height: 7.8rem;
    border-radius: 1rem;
    position: absolute;
    top: 21.3rem;
    left: 17.7rem;
    background-color: bisque;  
  }

  .services-wrapper::before {
    content: '';
    opacity: 0.75;
    height: 0.25rem;
    width: 4rem;
    border-radius: 1rem;
    position: absolute;
    top: 40.2rem;
    left: 25.2rem;
    background-color: bisque;  
  }

  .services-wrapper::after {
    content: '';
    opacity: 0.75;
    width: 0.25rem;
    height: 4rem;
    border-radius: 1rem;
    position: absolute;
    top: 45.8rem;
    left: 47.7rem;
    background-color: bisque;  
  }

  .services-title-wrapper::before {
    content: '';
    opacity: 0.75;
    height: 0.25rem;
    width: 4rem;
    border-radius: 1rem;
    position: absolute;
    top: 45.8rem;
    left: 10.2rem;
    background-color: bisque;  
  }

  .services-title::before {
    content: '';
    opacity: 0.75;
    height: 0.25rem;
    width: 4rem;
    border-radius: 1rem;
    position: absolute;
    top: 43.9rem;
    left: 122.75rem;
    background-color: bisque;  
  }
}